
<ul>
    {% for planet in planets %}
        <li class="mb-4 group">
            <a href="{{ path('app_planet_show', {'id': planet.id}) }}">
                <div class="d-flex justify-content-between-between items-start p-2">
                    <div class="pr-3">
                        <span class="text-white">{{ planet.name }}</span>
                        <span class="block text-gray-400 text-sm">{{ planet.lightYearsFromEarth|round|number_format }} light years</span>
                    </div>
                    <img
                            class="flex-shrink-0 w-8 h-8 bg-gray-600 rounded-full group-hover:bg-gray-500 transition duration-300 ease-in-out"
                            src="{{ asset('images/'~planet.imageFilename) }}"
                            alt="Image of {{ planet.name }}"
                            style="width:50px; height: 50px"
                    >
                </div>
            </a>
        </li>
    {% endfor %}
</ul>