{{ form_start(form) }}

    {{ form_row(form.purpose) }}
    {{ form_row(form.leaveAt) }}
    {{ form_row(form.planet) }}

<button formnovalidate class="btn btn-light">
    save
</button>
{{ form_end(form) }}